.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
    background-image: url("../images/background.jpg");
    color: white;
    font-size: 35px;
    text-shadow: 0 0 10px #000;
    font-weight: bold;
    background-size: 100% auto;
}

.char {
  width: 100px;
  height: 100px;
  margin: 0;
}

.character {
  text-align: center;
  width: 150px;
  height: auto;
  margin: 5px;
  background-color: grey;
  display: inline-block;
  color: white;
  padding-top: 5px;
  font-size: 15px;
}


#attack, #reset {
	font-size: 20px;
	color: black;
	text-shadow: none;
}
